<% if @recipe.errors.any? %>
  <% @recipe.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% end %>
<% end %>

<%= simple_form_for(@recipe) do |f| %>
  <%= f.input :title %>
  <%= f.input :recipe_type_id, collection: @recipe_types %>
  <%= f.input :cuisine_id, collection: @cuisines %>
  <%= f.input :difficulty %>
  <%= f.input :cook_time %>
  <%= f.input :ingredients %>
  <%= f.input :method %>
  <%= f.input :featured, as: :boolean %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
