<h1><%= @recipe.title %></h1>
<% if user_signed_in? && current_user != @recipe.user %>
  <%= link_to 'Favoritar', favorite_recipe_path(@recipe), method: :post %>
<% end %>

<%= image_tag 'star.png' if @recipe.featured? %>

<h3>Detalhes</h3>
<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine.name %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.show_cook_time %></p>
<h3>Ingredientes</h3>
<p><%= @recipe.ingredients %></p>
<h3>Como Preparar</h3>
<p><%= @recipe.method %></p>

<% if current_user == @recipe.user %>
  <%= link_to 'Editar', edit_recipe_path(@recipe) %>
  <%= link_to 'Excluir', @recipe, method: :delete %>
<% end %>

<section class="share">
  <%= form_tag(share_recipe_path(@recipe), method: :post) do %>
    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, nil, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :name, t('.name') %>
      <%= text_field_tag :name, nil, class: 'form-control' %>
    </div>
    <%= submit_tag t('.submit'), class: 'btn btn-primary' %>
  <% end %>
</section>

<%= link_to 'Voltar', root_path %>
