<h1><%= @recipe.title %></h1>
<p class="lead">Por <%= link_to @recipe.user.name, user_profile_path(@recipe.user) %></p>

<% if user_signed_in? && current_user != @recipe.user %>
  <% if !current_user.favorites.exists?(recipe: @recipe) %>
    <%= link_to 'Favoritar', favorite_recipe_path(@recipe), method: :post, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Desfavoritar', unfavorite_recipe_path(@recipe), method: :post, class: 'btn btn-secondary' %>
  <% end %>
  <hr>
<% end %>

<%= image_tag 'star.png' if @recipe.featured? %>

<dl class="row">
  <dt class="col-4"><%= t 'Cuisine' %></dt>
  <dd class="col-8"><%= @recipe.cuisine.name %></dd>
  <dt class="col-4"><%= t 'Recipe Type' %></dt>
  <dd class="col-8"><%= @recipe.recipe_type.name %></dd>
  <dt class="col-4"><%= t 'Difficulty' %></dt>
  <dd class="col-8"><%= @recipe.difficulty %></dd>
  <dt class="col-4"><%= t 'Cook time' %></dt>
  <dd class="col-8"><%= "#{@recipe.cook_time} #{t('minutes')}" %></dd>
  <dt class="col-4"><%= t 'activerecord.attributes.recipe.ingredients' %></dt>
  <dd class="col-8"><%= @recipe.ingredients %></dd>
</dl>
<h3>Como Preparar</h3>
<p><%= @recipe.method %></p>
<hr>
<% if current_user == @recipe.user %>
  <%= link_to 'Editar', edit_recipe_path(@recipe), class: 'btn btn-primary' %>
  <%= link_to 'Excluir', @recipe, method: :delete, class: 'btn btn-danger' %>
  <hr>
<% end %>
<section class="share">
  <% if user_signed_in? %>
    <%= form_tag(share_recipe_path(@recipe), method: :post) do %>
      <legend><%= t '.Share this recipe with a friend' %></legend>
      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email, nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :name, t('.name') %>
        <%= text_field_tag :name, nil, class: 'form-control' %>
      </div>
      <%= submit_tag t('.submit'), class: 'btn btn-primary' %>
    <% end %>
  <% else %>
    <p>Faça o log in para compartilhar uma receita</p>
  <% end %>
</section>
<hr>
<%= link_to 'Voltar', root_path, class: 'btn btn-outline-primary' %>
